<!-- start custom head snippets -->
<script src="https://kit.fontawesome.com/18275fd16d.js" crossorigin="anonymous"></script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
<link rel="mask-icon" href="{{ "/assets/images/safari-pinned-tab.svg" | relative_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ "/assets/images/browserconfig.xml" | relative_url }}">
<!-- meta tag for theme-color removed as it is not supported by Firefox, Firefox for Android, Opera -->
<script>
  if (navigator.userAgent.indexOf('Firefox') !== -1 || navigator.userAgent.indexOf('Opera') !== -1) {
    document.querySelector('meta[name="theme-color"]').setAttribute('content', '#ffffff');
  }
</script>
<script>
  if (navigator.userAgent.indexOf('Firefox') !== -1 || navigator.userAgent.indexOf('Opera') !== -1) {
	document.querySelector('meta[name="theme-color"]').setAttribute('content', '#ffffff');
  }
</script>


<!-- end custom head snippets -->