---

---

$sans-serif: "FreightSansPro", -apple-system, BlinkMacSystemFont, Arial, sans-serif !default;
$serif: $sans-serif;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

// Colors
$gray: #7a8288 !default;
$light-green: #e8f6e4 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$background-color: #fff !default;
$code-background-color: #fafafa !default;
$code-background-color-dark: $light-gray !default;
$text-color: $dark-gray !default;
$muted-text-color: mix(#fff, $text-color, 20%) !default;
$border-color: $light-green !default;
$form-background-color: $light-green !default;
$footer-background-color: $light-green !default;

$primary-color: #6f777d !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #4bae34 !default; // This is the title text!
$focus-color: $primary-color !default;
$active-color: mix(#fff, $primary-color, 80%) !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Nav bar
.greedy-nav .visible-links a:before {
  background: $info-color;
}

.greedy-nav a.site-logo {
  display: inline-block; // Ensure transform applies correctly
  transform-origin: left center; // Keeps the logo aligned to the left
}

.site-logo {
  display: flex;
  transform: scale(1.2); // Adjust scale as needed
  flex-direction: column;
  align-items: center;


  .site-subtitle {
    display: block;
    margin-top: 1px; // Adjust the spacing as needed
    font-size: .6rem;
  }
}

// Home page item
.archive__item-title {
    font-size: 24px; /* Big text for title */
  }
  
.archive__item-date {
font-size: 14px; /* Smaller text for date */
color: #666; /* Subtle color for the date */
}

hr {
    border: none; /* Remove the default border */
    height: 1px; /* Set the height of the hr, which will be the thickness of the line */
    background-color: $info-color; /* Set the color to black */
    margin-top: 1em; /* Add some space above the hr */
    margin-bottom: 1em; /* Add some space below the hr */
}

// Bio in about.md
.sidebar {
  opacity: 1;
}

// Remove underlines from links and make them green
a {
  text-decoration: none;
  color: $info-color;
}

// Color of text when highlighted
::selection {
  background: $light-green; /* Background color for selected text */
  color: #000000; /* Text color for selected text */
}

// Images in posts
#main img {
  display: block;
  margin: 0 auto;
}

// Font
@font-face {
  font-family: 'FreightSansPro';
  src: url('FreightSansPro/FreightSansProBook-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'FreightSansPro';
  src: url('FreightSansPro/FreightSansProBook-Italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'FreightSansPro';
  src: url('FreightSansPro/FreightSansProSemibold-Italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FreightSansPro';
  src: url('FreightSansPro/FreightSansProSemibold-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: $sans-serif;
  cursor: url('cursors/cursorDefault.svg') 0 0, auto;
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
  cursor: url('cursors/cursorText.svg') 7 13, auto; /* Center for 13x25 cursor */
}

a, i {
  cursor: url('cursors/cursorPointer.svg') 3 0, auto; /* Top-left tip slightly to the right for 28x29 pointer cursor */
}
