<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
</head>


<body>
  <header class="site-header">
    <div class="wrapper">
      <nav class="site-nav">
        <a class="page-link" href="{{ '/about/' | relative_url }}">About</a>
        <a class="page-link" href="{{ '/' | relative_url }}">Blog</a>
        <a class="page-link" href="https://letterboxd.com/trevornwilliams/">Film Diary</a>
        <a class="page-link" href="{{ '/resources/' | relative_url }}">Resources</a>
      </nav>
    </div>
  </header>

  <main class="wrapper">
    {{ content }}
  </main>

  <footer class="site-footer h-card">
    <data class="u-url" href="{{ '/' | relative_url }}"></data>
    <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
    <ul class="contact-list">
    <li class="p-name">{{ site.title }}</li>
    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    </ul>
    </div>
    <div class="footer-col footer-col-2">
    <ul class="social-media-list">
    <li><a href="https://github.com/{{ site.github_username }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">{{ site.github_username }}</span></a></li>
    </ul>
    </div>
    <div class="footer-col footer-col-3">
    <p>{{ site.description }}</p>
    </div>
    </div>
    </div>
    </footer>
</body>
</html>
