---
layout: default
---

<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <div class="home">
      <h2 class="post-list-heading">Posts</h2>
      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
          </li>
        {% endfor %}
      </ul>
      <p class="rss-subscribe">subscribe <a href="{{ \"/feed.xml\" | relative_url }}">via RSS</a></p>
    </div>
  </div>
</main>
