---
layout: default
---

<div class="container">
  <img src="{{ '/assets/images/Button_Blog.png' | relative_url }}" alt="{{ site.title }} Blog"> 
  <img src="{{ '/assets/images/Illustration_Blog.png' | relative_url }}" alt="{{ site.title }} Blog"> 
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>